<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite">
	<parameter name="browser" value="chrome" />
	<test name="Regression Test" preserve-order="false">
		<classes>
			<class name="tests.CreateAnewAccountTest" />
			<class name="tests.SelectAndDisplayBlouse" />
			<class name="tests.CheckOutProcedure" />

		</classes>
	</test>
</suite> 